<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div *ngIf="ingredients.length == 0;">
      <br>
      <br>
      <mat-spinner mode="indeterminate" color="accent" style="margin: auto;"></mat-spinner>
    </div>
    <ul class="list-group btn-toolbar">
      <a class="list-group-item" style="cursor: pointer; vertical-align: middle; line-height: 40px;" *ngFor="let ingredient of ingredients; let i = index;">
        {{ ingredient.name }} ({{ ingredient.amount}})
        <button #button mat-icon-button matTooltip="Remove" [matTooltipShowDelay]="showDelay" [matTooltipHideDelay]="hideDelay" [matTooltipPosition]="position"
          (click)='onDelete(i)'><i #trashIcon class="fa fa-trash-o"></i></button>
      </a>
    </ul>
  </div>
</div>