<!-- <a href="javascript:void(0)" class="list-group-item clearfix" (click)="onSelected(recipeItem.name)">
  <div class="row">
    <div class="col-8 col-sm-6">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipeItem.name }}</h4>
        <p class="list-group-item-text" style="overflow-wrap: break-word;">{{ recipeItem.description }}</p>
      </div>
    </div>
    <div class="col-4 col-sm-6">
      <span class="pull-right">
        <img src="{{ recipeItem.imagePath }}" alt="{{ recipeItem.name }}" class="responsive" style="max-height: 50px;">
      </span>
    </div>
  </div>
</a> -->

<a href="javascript:void(0)" class="list-group-item clearfix" (click)="onSelected(recipeItem.name)">

  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipeItem.name }}</h4>
    <p class="list-group-item-text" style="overflow-wrap: break-word;">{{ recipeItem.description }}</p>
  </div>
  <div class="mobile-divider">
    <br>
    <br>
    <br>
  </div>
  <div class="pull-right">
    <img src="{{ recipeItem.imagePath }}" alt="{{ recipeItem.name }}" class="responsive" style="max-height: 50px;">
  </div>

</a>