<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Name" type="text" id="name" #nameInput>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="amount" type="number" id="amount" #amountInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar text-right">
          <button mat-raised-button class="pill textColor" color=accent type="button" (click)="onAddItem()">Add</button>
          <button mat-raised-button class="pill" color=secondary type="button" (click)="onReset()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>